.header{
    width: 103%;
    height: 232px;
    margin-left: 3%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: 15px;
    display: flex;
    position: absolute;
    background: #ffa25f;
    background: -moz-linear-gradient(left, #ffa25f 0%, #fe6c04 100%);
    background: -webkit-linear-gradient(left, #ffa25f 0%,#fe6c04 100%);
    background: linear-gradient(to right, #FE6C75 0%,#ffa25f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa25f', endColorstr='#fe6c04',GradientType=1 );ilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa25f', endColorstr='#fe6c04',GradientType=1 ); /* IE6-9 */

}

.head_col{
    flex-direction: column;
    flex: auto;
    text-align: center;
    margin-top: 17px;
}


.container{
    width:404px;
    height:732px;
    display: flex;
}

.burger{
display: flex;
height: 43px;


}


.grp_a
{
    background-color: #e5b0f7;
}

.grp_b
{
    background-color: #bca5f7;

}

.grp_c{
background-color: #e99ec3;
}



.grp_d
{
    background-color: #9bbcaf;
}

.grp_e{
background-color: #9b9e9c;

}

.grp_f{
background-color: #a2dd9e;
}



.grp_g{
background-color: #adb7d8;
}
.grp_h{
background-color: #f8e1e8;
}

.grp_i{
background-color: #e19da5;
}


